body{
   background-color: #d6d6d6
}
.cuadroTexto{
    background-color:#d6d6d6;
    margin: 30px;
    padding: 50px;
  }
  #title{
    text-align:center;
  }
  #subTitle{
    text-align:center;
  }
  #img-div{
    /*background-color: white;*/
  }
  #img-caption{
    text-align:center;
    font-weight: lighter;
  }
  #image{
      display: block;  
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  #tribute-info{
    text-align: center;
  }
  #tribute-link{
    text-align:center;
  }
  .tituloLista{
    text-align:center;
    font-weight: lighter;
  }
li{
  
}
ul{
    width: 100%;
    text-align: center;
}