body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(231, 231, 231);
}

#img-div{
    margin: 0% 10% 0% 10%;
    background-color: white;
    padding: 2%;
}

#img-div figcaption{

    text-align: center;
    font-style: oblique;
}
#tribute-info{
    text-align: center;


}


#title-div p{
    
    font-weight: lighter;
}

#tribute-info-div{
    margin: 0% 20% 0% 20%;
    text-align: center;
    

}

#tribute-link{
    
}

#tribute-list{
  
    

    text-align: center;
    list-style: none;
    text-justify: initial;
    margin: 10px;
  
}

#tribute-list li{
    margin: 5px;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    border-style: double;
}

#image{
    max-width: 100%;
    position: relative;
    height: auto;
    display: block;
    position: center;
    margin: auto;
      


}

#title{
    font-size: 60px;
}



#title-div{
    background-color:rgb(231, 231, 231);
    text-align: center;

}



